body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

.header {
    background: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-form, .contact-info {
    flex: 1 1 calc(50% - 1rem);
    margin: 0.5rem;
    background: #f4f4f4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form h2, .contact-info h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    display: inline-block;
    background:  black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.map iframe {
    border-radius: 8px;
}

.footer {
    text-align: center;
    background: #333;
    color: white;
    padding: 1rem 0;
    margin-top: 1rem;
}